<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="SBC Lawn Care Shreveport Louisiana - we provide the best lawncare services in Northwest Louisana ">
  <meta name="ROBOTS" CONTENT="INDEX, FOLLOW">
  <title>SBC Lawncare Louisiana</title>
  <link rel="icon" href="static/images/sbc.png">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="static/stylesheets/style.css">
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">SBC</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="tel:+1-318-426-9563">Call Now</a></li>
        <li><a href="mailto:318sbc@gmail.com">Email</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="tel:+1-318-426-9563">Call Now</a></li>
        <li><a href="mailto:318sbc@gmail.com">Email</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center grey-text text-lighten-2">SBC Lawn Care</h1>
        <div class="row center">
          <h5 class="header col s12 light">SBC Lawn Care is a locally run landscaping company out of Shreveport, LA that provides a large scope of services year round</h5>
        </div>
        <div class="row center">
          <a href="tel:+1-318-426-9563" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Call Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/images/background_slade.jpg" style="display: block; transform: translate3d(-50%, 116px, 0px);"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">info</i></h2>
            <h5 class="center">Who We Are</h5>

            <p class="light">SBC Lawn Care is locally owned and operated. Our team is eager and ready to provide you with the best landscaping services available in Northwest Louisiana. Contact us today for a free quote!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">my_location</i></h2>
            <h5 class="center">Services For You</h5>

            <p class="light">We offer full lawn service, mowing, blowing, edging, and weed eating. Basic bush & hedge trimming, big clean ups, and weed control also available. Seasonal offerings include planting with multch or pine straw and leaf cleanups.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">today</i></h2>
            <h5 class="center">Easy To Work With</h5>

            <p class="light">Estimates at your request through phone call, email, or text message. We accept payments through Venmo, PayPal, check, or cash. Weekly scheduling available, as well as one off jobs. Great deals on monthly packages.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A beautiful yard is a phone call away (318) 426-9563</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/IMG_3912.JPG" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our SBC Lawn Care Team</h4>
          <p class="left-align light">Our service team is composed of lawn care professionals who take pride in their work. We are committed to customer satisfaction, and are proud of our attention to detail. SBC Lawn Care takes time to learn about our customers, and this personal interaction allows us know what you want! We provide personalized, quality service at a price point you can afford.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSBCLawnCareLLC%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=225790464513480" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background_grass.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l2 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/SBCLawnCareLLC/">Facebook</a></li>
            <li><a class="white-text" href="https://twitter.com/SBClawncareLLC">Twitter</a></li>
            <li><a class="white-text" href="https://www.instagram.com/sbclawncare/">Instgram</a></li>
            <li><a class="white-text" href="mailto:318sbc@gmail.com">Email</a></li>
          </ul>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li>SBC Lawn Care LLC</li>
            <li><a href="tel:+1-318-426-9563">(318) 426-9563</a></li>
            <li><a href="mailto:318sbc@gmail.com">318sbc@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">MCG</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/materialize.min.js"></script>

  </body>
</html>
